.about-container {
    display: flex;
    width: 100%;
    height: 100%;

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.about-picture {
    display: flex;
    justify-content: center;
    width: 30%;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 50px;
    padding: 20px;
}

.about-question {
    font-size: 3rem;
}

.about-title {
    font-size: 4rem;
    font-weight: 600;
}

.about-description {
    font-size: 1rem;
}

.about-pic {
    width: 100%;
    border-radius: 50%;
}




@media (max-width: 768px) {

    .about-container {
        height: 100%;
    }

    .about {
        height: 100%;
        flex-direction: column;
    }

    .about-text {

        width: 80%;


    }

    .about-pic {
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }


    .about-question {
        font-size: 2rem;
    }

    .about-title {
        font-size: 3rem;
        font-weight: 600;
    }

    .about-description {
        font-size: 15px;

    }
}