.tanitim-video {
    display: flex;
    width: 100%;

    /* border-radius: 10px; */
}

.hero {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
    justify-content: center;
    flex-direction: column;
}

.ust {

    display: flex;
    justify-content: center;
    flex-direction: row;

}

.alt {
    display: flex;


    justify-content: center;
}

.left {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;

}

.right {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}

.slogan {
    margin-top: 40px;
}

.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;

}

.almanca {
    background: linear-gradient(to bottom, #000000, #DD0000, #FFCC00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
}


.description {
    font-size: 20px;
    margin-top: 50px;
    font-weight: 300;
}

.social-icons {
    width: 50px;

    border-radius: 10px;
}

.eksi {
    background-color: aliceblue;
}

.social-media-logo {
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {

    .hero{
        height: auto;
    }

    .ust {

        flex-direction: column-reverse;
        margin-top: 90px;

    }

    .left {
        width: 100%;

    }

    .right {
        width: 100%;
    }

    .slogan {
        margin-top: 40px;
    }

    .title {
        text-align: center;
        font-size: 20px;

    }

    .description {
        font-size: 14px;
        padding: 10px;

    }

    .slogan {
        margin-top: 20px;
        font-size: 14px;
        padding: 10px;
    }

    .tanitim-video {
        padding: 10px;

    }

}