.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(to bottom, #084B6E, #336987);
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

.services{
    background-image: url('https://cdn.prod.website-files.com/63eca4d199772038e357f01c/65d891a50b03373ebdae0c86_shake%2024.svg');
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
   

}
.service-title{
    margin-top: 200px;
}

.services-lane{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:380px;
    margin-top: -40px;
   

}

.level-container{
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100px;

 
}

.level{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;

}