.videoCall {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-background-attachment: fixed;
    background-image: url('/video-call.jpg'), linear-gradient(rgba(0, 0, 0, 0.827), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-blend-mode: overlay;


}

.v-title {
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
    width: 80%;
    text-align: center;

}

.v-parag {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin-top: 50px;

}

.v-buton {
    background-color: var(--alfaOrange);
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;
    text-decoration: none;
}

.v-buton:hover {
    background-color: var(--alfaBlue);
    transition: ease 1s;
}

@media (max-width: 768px) {
    .v-title {
        font-size: 24px;

        width: 90%;
    }

    .videoCall {
        -webkit-background-attachment: scroll;
        background-attachment: scroll;
        height: 100%;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .v-parag {
        color: aliceblue;
        font-size: 15px;
        text-align: left;
        width: 90%;
        margin-top: 0px;



    }

    .v-buton {
        margin-top: 5px;
    }
}