.videoCall {
    background-image: url('/video-call.jpg'), linear-gradient(rgba(0, 0, 0, 0.827), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.v-title {
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
    width: 600px;
    text-align: center;
}

.v-parag {
    color: aliceblue;
    font-size: 20px;
    width: 600px;
    text-align: center;
    margin-top: 50px;
}

.v-buton {
    background-color: var(--alfaOrange);
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;
}

.v-buton:hover {
    background-color: var(--alfaBlue);
    transition: ease 1s;


}